@using Model;
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/">首页</a>
                </li>
                <li class="active">客户表</li>
            </ul>
            <!-- /.breadcrumb -->
            <!-- /.nav-search -->
        </div>
        <div class="page-content">
            <!-- /放搜索控件 -->
            <div class="col-xs-5">
                
            </div>
            <div class="col-xs-7">
                <div class="input-group pull-right">
                    <span class="input-group-btn">
                        <a class="btn btn-success btn-sm pull-right" href="javascript:void(0)" onclick="zstools.edit('/user/userInfo')">
                            <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span> 新增
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="clearfix">
                                <div class="pull-right tableTools-container"></div>
                            </div>


                            <!-- div.table-responsive -->
                            <!-- div.dataTables_borderWrap -->
                            <div>
                                	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>唯一编码</th>
				<th>联系人名字</th>
				<th>联系号码（登陆账号）</th>
				<th>地址</th>
				<th>经度</th>
				<th>纬度</th>
				<th>备注</th>
				<th>创建时间</th>
				<th>更新时间</th>
				<th>密码</th>
				<th>省</th>
				<th>市</th>
				<th>县</th>
				<th>所在地</th>
				<th>性别</th>
				<th>职业</th>
				<th>年龄</th>
				<th>星座</th>
				<th>体重</th>
				<th>身高</th>
				<th>档期</th>
				<th>个性签名</th>
				<th>兴趣爱好</th>
				<th>生日</th>
				<th>微信号</th>
				<th>是否单身</th>
				<th>所在单位</th>
				<th>单位地址</th>
				<th>真实姓名</th>
				<th>操作</th>

			</tr>
		</thead>
		<tbody>
			@{
				var userList = ViewBag.userList as List<tb_user>;
				 if (userList != null && userList.Count > 0)
				{
					for (int i = 0; i < userList.Count; i++)
					{
						<tr>
							<td>@(i+1)</td>
							<td>@userList[i].code</td>
							<td>@userList[i].nickname</td>
							<td>@userList[i].phonenum</td>
							<td>@userList[i].address</td>
							<td>@userList[i].longitude</td>
							<td>@userList[i].latitude</td>
							<td>@userList[i].remark</td>
							<td>@userList[i].createdate</td>
							<td>@userList[i].updatedate</td>
							<td>@userList[i].pwd</td>
							<td>@userList[i].province</td>
							<td>@userList[i].city</td>
							<td>@userList[i].county</td>
							<td>@userList[i].location</td>
							<td>@userList[i].sex</td>
							<td>@userList[i].job</td>
							<td>@userList[i].age</td>
							<td>@userList[i].constellation</td>
							<td>@userList[i].hav</td>
							<td>@userList[i].tall</td>
							<td>@userList[i].schedule</td>
							<td>@userList[i].sgin</td>
							<td>@userList[i].hobby</td>
							<td>@userList[i].birth</td>
							<td>@userList[i].wx</td>
							<td>@userList[i].issingle</td>
							<td>@userList[i].company</td>
							<td>@userList[i].companyaddress</td>
							<td>@userList[i].realname</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="green" href="javascript: void(0)" onclick="zstools.edit('/user/userInfo?id=@userList[i].id')" ><i class="ace-icon fa fa-pencil bigger-130"></i>编辑</a>
									<a class="red" href="javascript: void(0)" onclick="zstools.del('/user/userDelete?id=@userList[i].id',this)" ><i class="ace-icon fa fa-trash-o bigger-130"></i>删除</a>
								</div>
							</td>
						</tr>
					}
				}
			}

		</tbody>
	</table>

                            </div>

                            <div class="modal-footer no-margin-top">
                                @Html.Raw(ViewBag.page)
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
