@using Model;
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/">首页</a>
                </li>
                <li class="active">微信</li>
            </ul>
            <!-- /.breadcrumb -->
            <!-- /.nav-search -->
        </div>
        <div class="page-content">
            <!-- /放搜索控件 -->
            <div class="col-xs-5">
                
            </div>
            <div class="col-xs-7">
                <div class="input-group pull-right">
                    <span class="input-group-btn">
                        <a class="btn btn-success btn-sm pull-right" href="javascript:void(0)" onclick="zstools.edit('/weixinlicense/weixinlicenseInfo')">
                            <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span> 新增
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="clearfix">
                                <div class="pull-right tableTools-container"></div>
                            </div>


                            <!-- div.table-responsive -->
                            <!-- div.dataTables_borderWrap -->
                            <div>
                                	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>公众号ID</th>
				<th>订阅信息</th>
				<th>昵称</th>
				<th>性别</th>
				<th>城市</th>
				<th>国家</th>
				<th>省份</th>
				<th>语言</th>
				<th>表头图片地址</th>
				<th>订阅时间</th>
				<th>编号对应客户表或者维护表外键</th>
				<th>用户类型（客户、维护）</th>
				<th>操作</th>

			</tr>
		</thead>
		<tbody>
			@{
				var weixinlicenseList = ViewBag.weixinlicenseList as List<tb_weixinlicense>;
				 if (weixinlicenseList != null && weixinlicenseList.Count > 0)
				{
					for (int i = 0; i < weixinlicenseList.Count; i++)
					{
						<tr>
							<td>@(i+1)</td>
							<td>@weixinlicenseList[i].openid</td>
							<td>@weixinlicenseList[i].subscribe</td>
							<td>@weixinlicenseList[i].nickname</td>
							<td>@weixinlicenseList[i].sex</td>
							<td>@weixinlicenseList[i].city</td>
							<td>@weixinlicenseList[i].country</td>
							<td>@weixinlicenseList[i].province</td>
							<td>@weixinlicenseList[i].language</td>
							<td>@weixinlicenseList[i].headimgurl</td>
							<td>@weixinlicenseList[i].subscribe_time</td>
							<td>@weixinlicenseList[i].code</td>
							<td>@weixinlicenseList[i].userType</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="green" href="javascript: void(0)" onclick="zstools.edit('/weixinlicense/weixinlicenseInfo?id=@weixinlicenseList[i].id')" ><i class="ace-icon fa fa-pencil bigger-130"></i>编辑</a>
									<a class="red" href="javascript: void(0)" onclick="zstools.del('/weixinlicense/weixinlicenseDelete?id=@weixinlicenseList[i].id',this)" ><i class="ace-icon fa fa-trash-o bigger-130"></i>删除</a>
								</div>
							</td>
						</tr>
					}
				}
			}

		</tbody>
	</table>

                            </div>

                            <div class="modal-footer no-margin-top">
                                @Html.Raw(ViewBag.page)
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
