@model Model.tb_meetingorder
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content main-content">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/meetingorder/meetingorderList">会议服务 会议预定管理</a>
                    </li>
                    <li class="active">
                        会议服务 会议预定管理详情
</li>
                </ul>
                <!-- /.breadcrumb -->
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">基本信息</h4>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body" style="display: block;">
                            <div class="widget-main">
                                	<form action="/meetingorder/meetingorderSave" class="form-horizontal" role="form">
		<input type="hidden" name="id" value="@Model.id" />
		<div class="form-group">
			<label class="col-xs-2 control-label " >订单编号</label>
			<div class="col-xs-4"><input type="text" id="orderno" name="orderno" class="col-xs-10 col-sm-10 " value="@Model.orderno"></div>
			<label class="col-xs-2 control-label " >楼宇外键</label>
			<div class="col-xs-4"><input type="text" id="buildingid" name="buildingid" class="col-xs-10 col-sm-10 " value="@Model.buildingid"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >楼宇名称</label>
			<div class="col-xs-4"><input type="text" id="buildingname" name="buildingname" class="col-xs-10 col-sm-10 " value="@Model.buildingname"></div>
			<label class="col-xs-2 control-label " >会议室表外键</label>
			<div class="col-xs-4"><input type="text" id="meetingroomid" name="meetingroomid" class="col-xs-10 col-sm-10 " value="@Model.meetingroomid"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >会议室名称</label>
			<div class="col-xs-4"><input type="text" id="meetingroomname" name="meetingroomname" class="col-xs-10 col-sm-10 " value="@Model.meetingroomname"></div>
			<label class="col-xs-2 control-label " >套餐表外键</label>
			<div class="col-xs-4"><input type="text" id="comboid" name="comboid" class="col-xs-10 col-sm-10 " value="@Model.comboid"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >套餐名称</label>
			<div class="col-xs-4"><input type="text" id="comboname" name="comboname" class="col-xs-10 col-sm-10 " value="@Model.comboname"></div>
			<label class="col-xs-2 control-label " >下单用户</label>
			<div class="col-xs-4"><input type="text" id="userid" name="userid" class="col-xs-10 col-sm-10 " value="@Model.userid"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >下单用户姓名</label>
			<div class="col-xs-4"><input type="text" id="username" name="username" class="col-xs-10 col-sm-10 " value="@Model.username"></div>
			<label class="col-xs-2 control-label " >用户联系电话</label>
			<div class="col-xs-4"><input type="text" id="userphone" name="userphone" class="col-xs-10 col-sm-10 " value="@Model.userphone"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >会议人数</label>
			<div class="col-xs-4"><input type="text" id="meetingpersonnum" name="meetingpersonnum" class="col-xs-10 col-sm-10 " value="@Model.meetingpersonnum"></div>
			<label class="col-xs-2 control-label " >会议时间</label>
			<div class="col-xs-4"><input type="text" id="meetingdate" name="meetingdate" class="col-xs-10 col-sm-10 " value="@Model.meetingdate"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label " >上午或下午</label>
			<div class="col-xs-4"><input type="text" id="meetingAMorPM" name="meetingAMorPM" class="col-xs-10 col-sm-10 " value="@Model.meetingAMorPM"></div>
			<label class="col-xs-2 control-label " >订单状态</label>
			<div class="col-xs-4"><input type="text" id="status" name="status" class="col-xs-10 col-sm-10 " value="@Model.status"></div>
		</div>
		<div class="clearfix form-actions"><div class="col-md-offset-5 col-md-9"><button class="btn btn-info" type="button" onclick="zstools.save()"><i class="ace-icon fa fa-check bigger-110"></i>Save（保存）</button></div></div>
	</form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
 